.pagenation-btns-list{
    display:flex;
    gap:30px;
    align-items:center;
    justify-content:center;
    padding: 30px 0; 
}
.pagenation-btn{
    width:50px;
    height:50px;
    border-radius:50%;
    color:var(--second-color) !important;
    background-color:dimgrey;
    font-size:20px;
    font-weight:500;
    border:none;
}

.pagenation-btn.active{
    font-weight:900;
    font-size:24px;
    background-color: var(--third-color);
}